@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body, html{
    background-color: #212121;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nameOfStudent{
    padding: 0.2% 2% 0.2% 2%;
    background-color: #313131;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
#balanceForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#balance{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2vw;
    color: white;
    padding: 1vw;
}
#sendingLine{
    width: 380px;
    height: 25px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    overflow: hidden;
    flex-wrap: nowrap;
    background-color: rgb(75, 75, 75);
}
#health{
    height: 100%;
    background-color: #89c447;
}
#house{
    height: 100%;
    background-color: #f6d564;
}
#education{
    height: 100%;
    background-color: #007bb6;
}
#gift{
    height: 100%;
    background-color: #e63b5a;
}
#products{
    height: 100%;
    background-color: #64bd31;
}
#taxi{
    height: 100%;
    background-color: #ffea00;
}
#fastfood{
    height: 100%;
    background-color: #f26d21;
}
#leisure{
    height: 100%;
    background-color: #6ba0c5;
}
#cafe{
    height: 100%;
    background-color: #f19161;
}
#other{
    height: 100%;
    background-color: #828282;
}


#sendingList{
    display: flex;
    margin: 20px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.sendingListEl{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
}

#sendingListElColorHealth{
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #89c447;
}
#sendingListElColorHouse{
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #f6d564;
}
#sendingListElColorEducation{
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #007bb6;
}
#sendingListElColorGift{
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #e63b5a;
}
#sendingListElColorProducts{
    background-color: #64bd31;
    width: 30px;
    border-radius: 5px;
    height: 20px;
}
#sendingListElColorTaxi{
    background-color: #ffea00;
    width: 30px;
    border-radius: 5px;
    height: 20px;
}
#sendingListElColorFastfood{
    background-color: #f26d21;
    width: 30px;
    border-radius: 5px;
    height: 20px;
}
#sendingListElColorLeisure{
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #6ba0c5;
}
#sendingListElColorCafe{
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #f19161;
}
#sendingListElColorOther{
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #828282;
}
#statisticForm{
    display: flex;
    margin:0px 80px 0px 80px;
    gap: 20px;
}
#divForMyChart{
    background-color: #313131;
    border-radius: 10px;
    width: 70%;
    height: 100%;
}
#biggestExpenses{
    background-color: #313131;
    border-radius: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#biggestExpenses>p{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1vw;
    color: white;
}
#biggestExpensesClass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
#biggestExpensesClass>p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    color: white;
}
#iconBiggestExpenses{
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color:#64bd31;
    text-align: center;
}
#typeOfOperation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    margin:10px 80px 10px 80px;
    
}
#replenishmentButton{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
    width: 50%;
    height: 30px;
    background-color: #313131;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#spendingButton{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
    width: 50%;
    height: 30px;
    background-color: #313131;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#addSending{
    display: flex;
    margin:10px 80px 10px 80px;
    background-color: #313131;
    justify-content: space-between;
    padding: 5px;
    gap: 10px;
    height:auto;
    border-radius: 10px;
}
#sendText{
    width: 55%;
}
#sendPrice, #sendClass, #sendAdd{
    width: 15%;
}
#sendText, #sendPrice{
    border-radius: 5px;
    border: none;
    outline: 0;
    background-color: #252525;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
}
#sendAdd{
    background-color: #3ED1FF;
    border-radius: 5px;
    border: none;
    outline: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #252525;
    cursor: pointer;
}
#sendClass{
    background-color: #252525;
    border-radius: 5px;
    border: none;
    padding: 2px;
    outline: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: white;
}
#sendClass>option{
    border-radius:10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
}
#sendingStory{
    display: flex;
    margin:10px 80px 10px 80px;
    background-color: #313131;
    border-radius: 10px;
    flex-direction: column;
    min-height: 50px;
    /* font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #717171; */
}
#send{
    display: flex;
    padding: 5px;
    gap: 10px;
    height: 40px;
    border-radius: 10px;
    width: 99%;
}
#readySendText{
    width: 60%;
    background-color: #212121;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
}
#readySendPrice, #readySendClass{
    width: 15%;
    background-color: #212121;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
}
#readyTypeOfOperation{
    width: 10%;
    background-color: #212121;
    border-radius: 5px;
    display: flex;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    color: white;
}
#delButton{
    background-color: #584646;
    border-radius: 5px;
    border: none;
    outline: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #ff6565;
    cursor: pointer;
}
#centerForNothingNotes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
#centerForNothingNotes>p{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #575757;
    font-size: 0.5vw;
}
#stylesForNothingBiggestExpenses{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #575757;
}
#divForMyChart{
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 5px;
}
#divForMyChart>div{
    display: flex;
    align-items:end;
    justify-content: center;
    background-color: #3ED1FF;
    height: 0%;
    width: 10%;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #575757;
}
#modeButton{
    border-radius: 5px;
    border: none;
    background-color: #575757;
    margin: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}