@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body id="body">
    <header>
        <div id="nameOfStudent">
            alex kostikov
        </div>
        
    </header>

    <div id="balanceForm">
        <h1 id="balance"></h1>
        <div id="sendingLine">
            <div id="health" title="Sending health"></div>
            <div id="house" title="Sending house"></div>
            <div id="education" title="Sending Education"></div>
            <div id="gift" title="Sending gift"></div>
            <div id="products" title="Sending products"></div>
            <div id="taxi" title="Sending taxi"></div>
            <div id="fastfood" title="Sending fastfood"></div>
            <div id="leisure" title="Sending isure"></div>
            <div id="cafe" title="Sending cafe"></div>
            <div id="other" title="Sending other"></div>
        </div>
        <div id="sendingList">
            <div class="sendingListEl">
                <div id="sendingListElHealth">
                    <!-- <div id="sendingListElColorHealth"></div>
                    <p>health / 92 400</p> -->
                </div>
            </div>
            <div class="sendingListEl">
                <div id="sendingListElHouse">
                    <!-- <div id="sendingListElColorHouse"></div>
                    <p>house / 50 400</p> -->
                </div>
            </div>
            <div class="sendingListEl">
                <div id="sendingListElEducation">
                    <!-- <div id="sendingListElColorEducation"></div>
                    <p>education / 16 800</p> -->
                </div>
            </div>
            <div class="sendingListEl">
                <div id="sendingListElGift">
                    <!-- <div id="sendingListElColorGift"></div>
                    <p>gift / 8 400</p> -->
                </div>
            </div>
            <div class="sendingListEl">
                <div id="sendingListElProducts">
                    <!-- <div id="sendingListElColorProducts"></div>
                    <p>products / 8 400</p> -->
                </div>
            </div>
            <div class="sendingListEl">
                <div id="sendingListElTaxi">
                    <!-- <div id="sendingListElColorTaxi"></div>
                    <p>taxi / 8 400</p> -->
                </div>
            </div>
            <div class="sendingListEl">
                <div id="sendingListElFastfood">
                    <!-- <div id="sendingListElColorFastfood"></div>
                    <p>fastfood / 8 400</p> -->
                </div>
            </div>
            <div class="sendingListEl">
                <div id="sendingListElLeisure">
                    <!-- <div id="sendingListElColorLeisure"></div>
                    <p>leisure / 8 400</p> -->
                </div>
            </div>
            <div class="sendingListEl">
                <div id="sendingListElCafe">
                    <!-- <div id="sendingListElColorCafe"></div>
                    <p>cafe / 8 400</p> -->
                </div>
            </div>
            <div class="sendingListEl">
                <div id="sendingListElOther">
                    <!-- <div id="sendingListElColorOther"></div>
                    <p>other / 8 400</p> -->
                </div>
            </div>
        </div>
    </div>
    <div id="statisticForm">
        <div id="divForMyChart">
            <div id="statisticColumnMo" title="Sending Monday">Mo</div>
            <div id="statisticColumnTu" title="Sending Tuesday">Tu</div>
            <div id="statisticColumnWe" title="Sending Wednesday">We</div>
            <div id="statisticColumnTh" title="Sending Thersday">Th</div>
            <div id="statisticColumnFr" title="Sending Friday">Fr</div> 
            <div id="statisticColumnSa" title="Sending Saturday">Sa</div>
            <div id="statisticColumnSu" title="Sending Sunday">Su</div>
        </div>
        <div id="biggestExpenses">
            <!-- <p>Biggest expenses</p>
            <div id="biggestExpensesClass">
                <div id="iconBiggestExpenses">🥕</div>
                <p>products / 92 400</p>
            </div> -->
            <p style="color: #575757;">There nothihg</p>
        </div>
    </div>
    <div id="typeOfOperation">
        <button id="replenishmentButton">replenishment</button>
        <button id="spendingButton">spending</button>
    </div>
    <div id="addSending">
        <input type="text" id="sendText" name="" placeholder="Add note">
        <input type="number" id="sendPrice" name="">
        <select name="" id="sendClass">
            <option value="❤️ Health" selected>❤️ Health</option>
            <option value="🏠 House">🏠 House</option>
            <option value="🏫 Education">🏫 Education</option>
            <option value="🥕 Products">🥕 Products</option>
            <option value="🚕 Taxi">🚕 Taxi</option>
            <option value="🍔 Fastfood">🍔 Fastfood</option>
            <option value="🎾 Leisur">🎾 Leisure</option>
            <option value="🍣 Cafe">🍣 Cafe</option>
            <option value="❔ Other" >❔ Other</option>
        </select>
        <button id="sendAdd">Add</button>
    </div>
    <div id="sendingStory">
        <div id="centerForNothingNotes">
            <p>There nothihg</p>
        </div>
        <!--  -->
        <!-- <div notesId="1" id="send">
            <div id="readySendText">First node Lorem ipsum dolor sit.</div>
            <div id="readySendPrice">400</div>
            <div id="">🏫 Education</div>
            <div id="readyTypeOfOperation">-</div>
            <button id="delButton">Del</button>
        </div> -->

    </div>
    <script src="./script.js"></script>
</body>